<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    <link th:href="@{/css/Header.css}" rel="stylesheet">
</head>
<body>
<div class="contentHeader" th:fragment="Header">
    <div class="preHeader"></div>
    <div class="header"><h1 style="color: white;padding-left: 65px">My Digital News</h1></div>
    <div class="menu"><a style="text-decoration: none" th:href="@{/Home}"><h3 style="color: white;padding-left: 65px;padding-top: 5px">News</h3></a>
    </div>
</div>
<div class="mid">
    <div class="contentMiddle">
        <div class="news">
            <div th:each="l: ${listSearch}">
                <h3 th:text="*{l.title}"></h3>
                <img style="width: 200px" th:src="@{'../img/'+*{l.image} }">
                <p th:text="*{l.shortContent}"></p>
            </div>

            <div class="paging">
                <div class="pagger"  th:if="${listInt.size()>1}" th:each="i:${listInt}">
                    <a th:href="@{/Search(search=${search},pageIndex=*{i})}"
                       th:text=${i+1}
                       th:class="${i==pageIndex} ? active"></a>
                </div>
            </div>



            <div class="horizontal"> </div>
        </div>
    </div>
    <div class="vertical"></div>
    <div class="right">
        <h3>Digital News</h3>
        <p th:text="${d.shortContent}"></p>
        <h3>Search</h3>

        <form class="search" th:action="@{/Search}" method="get">
            <input type="text" name="search" th:value="${search}">
            <input class="searchButton" type="submit" value="GO">
        </form>

        <h3>Last Articles</h3>
        <p th:each="digital:${list}">
            <a style="color: black" th:text="*{digital.title}" th:href="@{'/Detail?id='+*{digital.id}}"></a>
        </p>
    </div>
</div>
<div class="footer"></div>
</body>
</html>